

.last_articles_snippets a { 
  text-decoration: none;
  color: #428BCA;
  border-radius: 3px;
}

.last_articles_snippets a:hover {
  background: rgba(150, 150, 220, 0.1) none repeat scroll 0% 0%
}

.last_articles_snippets a h2,
.last_articles_snippets a span {
  display: block;
  text-align: left;
  max-width: 300px;
}

.last_articles_snippets a h2 {
  font-size: 22px;
  max-width: 300px;
}

.last_articles_snippets a span.image {
  height: 200px;
  overflow: hidden;
  max-width: 275px;
}

.last_articles_snippets img { 
  margin-top:10px!important;
  margin-bottom:10px!important;
  max-height: 200px;
}